@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624503727160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-categoryselected:before {
  content: "\e60c";
}

.icon-book-mark-line:before {
  content: "\e8bb";
}

.icon-Homehomepagemenu:before {
  content: "\e9db";
}

.icon-account:before {
  content: "\e603";
}

